body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper_01 {
    width: 1100px;
    margin: 0 auto;
}

.wrapper_02 {
    width: 980px;
    margin: 0 auto;
}

.wrapper_03 {
    width: 982px;
    margin: 0 auto;
}

.icon_sprite {
    display: inline-block;
    background-image: url("../images/iconall_sprite.png");
}

.icon_sprite_music {
    background-position: 0 -24px;
    width: 14px;
    height: 11px;
}

.icon_sprite_play {
    background-position: 0 0;
    width: 16px;
    height: 17px;
}